.git
.github
.local
.env
.env.*
**/.dart_tool
**/build
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
docs
modules
plugins
infra/backup
infra/reverse_proxy
apps/client_flutter
packages/design_system
packages/plugin_sdk
packages/shared
